@import url('https://fonts.googleapis.com/css?family=Economica|Roboto+Condensed');

body {
 
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Economica', sans-serif;
}

.form {
  height: 25px;
  display: inline-block;
  margin-bottom: 8px;
}

input {
  width: 300px;
  height: 19px;
  font-size: 16px;
  margin: 1px;
}

.form > input {
  float: left;
  height: 25px;
}

.form > button {
  float: right;
  margin: 1px;
}

button {
  height: 25px;
  
}

.Gallery {
  margin: 10px;
}

.Gallery > img {
  width: 400px;
  height: 25s0px;
  z-index: -1;
  opacity: 0.8;
  object-fit: cover;
}

.multiform {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.multiform > div > input {
  width: 40px;
  font-size: 12px;
  text-align: center;
  margin-left: 5px;
}

.multiform > div {
  float: left;
}

.task-list {
  cursor: pointer;
}

.completed-list {
  color: grey;
}

.delete-task {
  color: black;
  cursor: pointer;
}

.Stories > div {
  margin: 15px;
}

.Matrix > img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.Jobs {
  text-align: left;
}
/* #page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    
}

#footer {
  position: absolute;
  padding: 30px;
  bottom: 0;
  width: 100%;
  min-height: 2.5rem;   
  background-color: rgb(35, 14, 85);        
}
#dot{
  margin-left: 8px;
  margin-right: 8px;
}
@media (min-width: 0px) { 
  .icon-alignment , .logo , .contents{
    text-align: center;
  }
 }
@media (min-width: 576px) { 
  .icon-alignment  , .logo , .contents{
    text-align: center;
  }
 }


 @media (min-width: 768px) { 
  .icon-alignment , .logo {
    text-align: right;
  }
 }

@media (min-width: 768px) { 
 .contents{
    text-align: left;
  }
 }


@media (min-width: 992px) { 
  .icon-alignment , .logo , .contents{
    text-align: right;
  }
 }


@media (min-width: 1200px) { 
  .icon-alignment , .logo , .contents{
    text-align: right;
  }
 }


@media (min-width: 1400px) {  
  .icon-alignment , .logo , .contents{
    text-align: right;
  }
} */